.board-outer {
    fill: #A7A493;
}

.board-inner {
    fill: #E2E0CB;
}

.board-inner90 {
    fill: #CBC9B6;
}

.board-inner110 {
    fill: #F8F6E4;
}

.primary {
    fill: #4066AB;
}

.player0 {
    fill: #308FB8;
}

.player1 {
    fill: #71B784;
}

.grey {
    fill: #9e9e9e;
}

.point {
    text-anchor: middle;
    font-size: 10px;
    fill: #eeeeee;
}
